# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Environments
.env
.envs

# SQLite DBs
*.db
hr.db

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
